/*
	Style du menu
*/

menu {
	background-color: rgb(30, 30, 30);
	width: 80%;
	height: 60px;
	margin: auto;
	border-radius: 0 0 20px 20px;
	padding: 0px 40px 0 40px;
}

menu li {
	margin-left: 30px;
	height: 100%;
	display: inline-block;
}

menu a {
	display: block;
	color: white;
	width: 160px;
	height: 100%;
	font-family: "Verdana";
	font-size: 20px;
	letter-spacing: 1px;
	text-align: center;	
	padding-top: 15px;
	text-decoration: none;
}
menu a:hover {
	background-color: rgba(250, 250, 250, 0.2);
	text-shadow: black 0.1em 0.1em 0.2em;
}


/*
	Style d'une page globale
*/

section#page {
	margin: auto;
	margin-top: 30px;
	width: 900px;
	min-height: 300px;
	padding: 50px;
	border: Black 3px solid;
	border-radius: 40px;
	background-color: LightGrey;
	
	font-family: "Georgia", Georgia, Serif;
	font-size: 22px;
}

h1 {
	font-size: 26px;
	text-align: center;
}

h2 {
	margin: 20px 0 20px 0;
	font-style: italic;
}

footer {
	width: 1000px;
	margin: auto;
	margin-top: 10px;
}

img#splash {
	float: right;
}

/*
	Style de la page catégorie
*/

th, td {
	border: 1px solid black;
}

section ul {
	margin-left: 100px;
}

section ul li {
	margin-top: 20px;
	min-width: 100px;
}


section ul li a {
	display: block;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	width: 200px;
}

section ul li a:hover {
	background-color: darkOrange;
}

section ul li a {
	text-decoration: none;
}

/*
	Style de la page d'inscription
*/

form#inscription, form#connexion {
	margin-top: 30px;
	background-color: rgba(250, 250, 250, 0.4);
	border: 2px solid black;
	border-radius: 30px;
	padding: 5px;
	display: inline-block;
}

form#inscription {
	width: 50%;
}

form#connexion {
	width: 250px;
	margin-left: 50px;
	position: absolute;	
}

form label, form input {
	display: inline-block;
	width: 200px;
}
