/* Global Styles */

body {
	margin:0px;
background-image:url(windowswallpapers/Zed_Informatique_00078);	
}

td {
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	}
	
a {
	color: #FF6600;
	font-weight:bold;
	text-decoration:none;
	}
	
a:hover {
	color: #FFBA00;
	}
.corps1{
      display:inline;
      background-color:red;
      margin-left:8px;
      margin-top:5px;
      margin-bottom:10px;
}

.corps{
      
      margin-left:500px;
      margin-top:100px;
      margin-bottom:20px;
      margin-right:50px;
      background-color:blue;
border:#FF6600 1px solid;
      display:inline;
     -moz-border-radius:10px;
}
.connexion{
      margin-left:200px;
      margin-top:10px;
      background-color:gray;
	  
}
.connexion1{
  background-color:gray;
  
}
.connexion fieldset{
    margin-left:1px;
	
}
#emprunt{
border:#FF6600 1px solid;
      display:inline;
     -moz-border-radius:3px;
font-size:15px;
font-weight:bold;
color:blue;
}





#corps1{
      
      margin-left:370px;
      margin-top:50px;
      margin-bottom:10px;
      margin-right:345px;
     border:#ff6600 solid 2px; 
     -moz-border-radius:10px;

}
#date_heure{
      
      padding-left:950px;
      margin-bottom:1px;
      font-family:"Trebuchet MS";
      font:30px
} 
#message{
font-family:"Trebuchet MS";
        font-size:16px;

}
#corps
{
	height:auto;
	margin-top:1px;
        margin-bottom:30px;
        margin-right:0px;
        margin-left:2px;
		padding-right:20px;
	border:#ff6600 solid 3px;
    background-color:#dec5ab;
    -moz-border-radius:8px;
    color:0000FF;	
	padding:20px;
	font-family:"Trebuchet MS";
        font-size:15px;
}
#corps hr
{
	border: 1px solid #FF6600;
	background-color:#FF6600;
	color:#FF6600;
}

#foot
{
color:black;
	margin-top:3px;
	margin-bottom:10px;
	height:auto;
	border:#ff6600 2px solid;
	-moz-border-radius:10px;
	background-color:#dec5ab;
	font-family:"Trebuchet MS";
}	
/* ID Styles */

#navigation a {
	font:10px Arial, Helvetica, sans-serif;
	color: #26354A;
	text-decoration: none;
	letter-spacing:.1em;
	line-height:16px;
	display:block;
	padding: 0px 10px;
	border-right:1px solid #FF6600;
	}
	
#navigation a:hover {
	color:#ffffff;
	background: #FF6600;
	}

#background td {
	background:url("mm_bg_header.gif");
	}
	
#padding {
	padding:14px;
	}
	
/* Calendar Styles */

#calendar td {
	border: 1px solid #26354A; 
	}
	
#noborder td {
	border: 0px;
	}

#calheader td {
	font-weight:bold;
	color: #ffffff;
	}
	
/* Class Styles */

.logo {
	font:24px Times New Roman, Times, serif;
	color: #FFBA00;
	letter-spacing:.3em;
	line-height:26px;
	}
	
.tagline {
	font: 11px Arial, Helvetica, sans-serif;
	color: #D3DCE6;
	line-height:16px;
	}
	
.bodyText {
	font:11px Arial, Helvetica, sans-serif;
	line-height:22px;
	color:#26354A;
	letter-spacing:.1em;
	}

.detailText {
	font:11px Arial, Helvetica, sans-serif;
	line-height:16px;
	color:#26354A;
	letter-spacing:.1em;
	}
	
.pageName {
	font:24px Arial, Helvetica, sans-serif;
	color: #FF6600;
	letter-spacing:.2em;
	line-height:32px;
	}
	
.subHeader {
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #2D374D;
	font-weight:bold;
	line-height:20px;
	letter-spacing:.1em;
	}
	
.navText {
	font:10px Arial, Helvetica, sans-serif;
	color: #26354A;
	letter-spacing:.1em;
	line-height:16px;
	}

.calendarText {
	font:11px Arial, Helvetica, sans-serif;
	color: #26354A;
	letter-spacing:.1em;
	}
#anim{
    font:15px Arial, Helvetica, sans-serif;
	color: #26354A;
	letter-spacing:.2em;
    font-weight:bold;
    text-decoration:alternate;
}	
	
.sidebarText {
	font:11px Arial, Helvetica, sans-serif;
	color: #FFBA00;
	letter-spacing:.1em;
	line-height:18px;
	}
	
