.fldBox 
{ 
	background-color:#f9f9f9;
	border:solid 1px #ddd;
	margin:0 35px 15px 35px;
	padding:15px;
	display:block; 
}
.fldBoxImbrique
{
	background-color:#ffffff;
	border:solid 1px #ddd;
	margin:0 35px 15px 35px;
	padding:15px;	
	display:block; 	
}

body 
{ 
font-family:arial,sans-serif;
font-size:small; 
}

/*-----------Partie Flo-------------*/


.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #000;
  color: #fff;
  width: 200px;
  font: 1.2em "Trebuchet MS", sans-serif;
  margin-top:10px;
}
.navigation a, .navigation span {
  display: block;
  padding: 4px 10px;
  color: #fff;
  text-decoration: none;
  background: #000 url(../images/menu-item.png) left bottom no-repeat;
}
.navigation .toggleSubMenu a, .navigation .toggleSubMenu span {
  background-image: url(../images/menu-item-deroule.png);
}
.navigation .open a, .navigation .open span {
  background-image: url(../images/menu-item-enroule.png);
}
.navigation a:hover, .navigation a:focus, .navigation a:active {
  text-decoration: underline;
}
.navigation .subMenu {
  font-size: .8em;
  background: #ccc url(subMenu.png) 0 0 repeat-x;
  font-size: .9em;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #666;
}
.navigation ul.subMenu a {
  background: none;
  padding: 3px 20px;
}

#texte_Connexion{
	display='block';
}

#texte_Deconnexion{
	display='none';
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

#zonemap{
	margin-right:250px;
}


.fldBoxInscription
{ 
	background-color:#f9f9f9;
	border:solid 1px #ddd;
	/*margin:10px 350px 15px 300px;*/
	padding:25px;
	/*display:block;*/
	width:400px;
}

.fldBoxTexteAccueil
{ 
	background-color:#f9f9f9;
	border:solid 1px #ddd;
	margin-top:10px;
	margin-left:7px;
	padding:25px;
	display:block;
	width:950px;
}

.fldBoxTexteMesVentes
{ 
	background-color:#f9f9f9;
	border:solid 1px #ddd;
	margin-top:10px;
	margin-left:0px;
	padding:25px;
	display:block;
	width:500px;
}



span.Text_identif
{
	
	font-family:arial,comix-sans;
	font-weight: bold;
	margin-left: 205px;
	font-size: medium;
	color:#202020;
    text-shadow: 1px 1px 0px #999, 
			 2px 2px 0px #999,
			 3px 3px 0px #999,
			 4px 4px 0px #999,
			 5px 5px 0px #999;
}

span.Text_Robot
{
	
	font-family:arial,comix-sans;
	font-weight: bold;
	margin-left: 440px;
	font-size: medium;
	color:#202020;
    text-shadow: 1px 1px 0px #999, 
			 2px 2px 0px #999,
			 3px 3px 0px #999,
			 4px 4px 0px #999,
			 5px 5px 0px #999;
}

span.Text_ModifCompte
{
	font-family:arial,comix-sans;
	font-weight: bold;
	margin-left: 430px;
	font-size: medium;
	color:#202020;
    text-shadow: 1px 1px 0px #999, 
			 2px 2px 0px #999,
			 3px 3px 0px #999,
			 4px 4px 0px #999,
			 5px 5px 0px #999;
}

#entete{
        height:20%;

}

#cat{
margin-left:80px;
}
div#Page
{
    
	width:1018px;
	height:100%;
	margin: 1em auto;
	border:#000000 solid 1px;
	background-color : white;
	
     border-radius:10px 0;
	/*background:url(..//images/fond-ecran-paysage-paradisiaque.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;	*/	
}


#navigation a {
	font:10px Arial, Helvetica, sans-serif;
	color: black/*#26354A*/;
	text-decoration: none;
	letter-spacing:.1em;
	line-height:16px;
	display:block;
	padding: 0px 10px;
	border-right:1px solid #FF6600;
	}
	
#navigation a:hover {
	color:#fff000;
	 
	}

.navText {
	font:10px Arial, Helvetica, sans-serif;
	color: #000000 /*#26354A*/;
	letter-spacing:.1em;
	line-height:16px;
	}



#header {
    background:url(../images/bkg-topbar.gif);/*logo-topbar.gif);*/
	background-repeat:repeat-x;
   
   /* background-repeat: no-repeat;*/
    height:150px;/*300px;*/
    width:1018px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
} 

#headerbis{
   /* background:url(../images/logo-topbar.gif);*/
	height:100px;/*300px;*/
    width:1018px;
	 margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
	}
#statusoff{
background-color: RED;
font-family:"BebasNeueRegular";
 font-size:15px; 
text-shadow:0 0 5px #00c6ff;
}

#statuson{

background-color: green;
margin-left: auto;
    margin-right: 1100px;
font-family:"BebasNeueRegular";
 font-size:15px; 
text-shadow:0 0 5px #00c6ff;
}

#date_heure{
      
      padding-left:900px;
      margin-bottom:0px;
	  margin-right : 160px;
      font-family:"Helvetica";
      /*font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;*/ 
	  font-size:14px;
      /*text-shadow:0 0 5px #00c600;	*/  
	  
} 

div#titre{
	width:1000px;
	margin-bottom: 1cm;
	margin-left: 1cm;
	text-align: left;
    margin-left: auto;
    margin-right: auto;
  	margin-bottom:0px;
	margin-bottom:0.5cm;
		 
	}
	
h1
	{
		border-bottom-color:black;
		border-bottom-style:solid;
	}
	
h2
	{
		border-bottom-color:blue;
		border-bottom-style:solid;
	}
	
h3
	{
		width:200px;
		font-size:large;
		/*border-bottom-color:red;
		border-bottom-style:solid;*/
	}
	
div#pied_de_page
	{
		
		 background:url(../images/pied.jpg);
		clear:both;
		margin-left: auto;
 		margin-right: auto;
  		width:1018px;
		height:90px;
  		text-align: left;
	}
	
div#pied_de_page_accueil
	{
		
		
		clear:both;
		margin-left: auto;
 		margin-right: auto;
  		width:1018px;
		height:140px;
  		text-align: left;
		background:url(../images/pied.jpg);
	}
	
/*Menu horizontal*/
#menu_horizontal { 
    margin-top: 0px;
	margin-left: 160px;
    margin-right: 175px;
    padding-top: 317px/*317px;*/
    list-style: none ;
    font-weight: bold;
	border:#000000 solid 0px;
    text-transform:uppercase;
    font-size:10px;
	text-decoration:none;
    }	
		
#menu_horizontal p { 
    margin: 0px;
    padding-top: 225px;
    list-style: none ;
    font-weight: bold;
    text-transform:uppercase;
    font-size:10px;
	text-decoration:none;
	float: right ; 
   	display: block ;
    color: black ; 
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right:20px;
	margin-left:5px;
	text-decoration:none;
    } 
	
#menu_horizontal p:hover, .navigation p:focus, .navigation p:active { 
	color: /*#ff0000#ffdb13*/;
	text-decoration:none;
	}
	
#loginBox  {
	margin-left:20px;
	margin-top:20px;
	margin-bottom:20px;
}

#loginBox2  {
	margin-left:20px;
	float:left;
	width:19.6%;
	margin-top:20px;
	margin-bottom:20px;
	border-width:1px;
	border-style:solid;
	border-color:black;
	
}

div#contenu 
	{
		text-align:center;
		float:left;
		width:500px;
		font-size:small;
		margin-left: 3cm;
    	margin-right: auto;
		margin-bottom: 15px;
		
	}

.noir{
    color:black;
}

.rouge{
	color:red;
}

/*CSS3*/
	
/*Gestion horloge*/
/* If you want you can use font-face */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {width: 500px; margin: 0 auto; overflow: hidden;}

.clock {width:500px; margin:0 auto; padding:5px; border:1px solid #333; color:red; }

#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:36px; text-align:center; text-shadow:0 0 5px #00c6ff; }

#horloge  { width:500px; margin:0 auto; padding:0px; list-style:none; text-align:center; }
#hours { display:inline; font-size:4em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }
#point { display:inline; font-size:4em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }
#min { display:inline; font-size:4em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }
#sec { display:inline; font-size:4em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }


#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

/* Simple Animation : faire clignoter ':' entre les heures, minutes etc...*/
@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

/*gestion connexion */
/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.login-popup{
	display:none;
	background: #333;
	padding: 10px; 
    	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}
.logincss{
 padding-left:1px;

}
img.btn_close { Position the close button
	float: right; 
	margin: -28px -28px 0 0;
}

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.signin .textbox span { 
	display:block;
}

form.signin p, form.signin span { 
	color:#999; 
	font-size:11px; 
	line-height:18px;
} 

form.signin .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
        border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:#000; 
	border-width:1px;
        border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:214px;
}
.button:hover { background:#ddd; }

#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        left : 14f%;
        margin-top : 0;
        width : 450px;
		margin-left : -300px; /* la moitié de width */
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}
#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : yellow;
}

#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 25px;
}

#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}



#calendarDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #317082;


}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}
	
#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}

/*-----------------*/


.clear 
{ 
clear:both; 
}

.disabled 
{ 
background-color:#ccc; 
}

.zone_texte_large
{
margin:0 35px 15px 35px;
padding:15px;
display:block; 	
}


#menu, #menu ul /* Liste */     
{
        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 21px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menu li ul li
{
text-align : left; 
}

#menu /* Ensemble du menu */
{
        font-weight : bold; /* on met le texte en gras */
        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
        font-size : 14px; /* hauteur du texte : 12 pixels */
		margin-right:0px;
}

#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        background : #fff; /* couleur de fond : blanc */        
        color : #434543; /* couleur du texte gris */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 144px; /* largeur */
}

#menu li /* Éléments des listes */      
{ 
        float : right; 
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #434543; /* on met une bordure grise à droite de chaque élément */
		
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li
{
        border-right: 1px solid #434543 ; /* on met une bordure grise à droite de chaque élément */
	
}

#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 144px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
		
}



#menu li ul li /* Eléments de sous-listes */
{
        /* pour ie qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 1px solid #434543; /* on met une bordure grise en haut de chaque élément d'une sous-liste */

}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li ul li                
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
		border-right : 1px solid #fff;

}

#menu li ul ul 
{
        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid transparent ; /* Petite bordure à gauche pour ne pas coller ... */  

}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */

}

#menu li ul li a:hover /* Lorsque la souris passe sur un des liens */    
{
        color: #434543; /* On passe le texte en grise... */
        background: #C3D9E0; /* ... et le fond en bleu*/	
		text-decoration : none;
}

#menu li a:hover
{
text-decoration : underline;
}


#menu li:active ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
	
		
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
		
}


#menu_recapitulatif 
{
float: left; width: 280px;  border-top: 1px solid #fff; border-right: 1px solid #999; border-left: 1px solid #fff; list-style-type:none; 
}

#menu_recapitulatif li a 
{
display: block; padding: 10px 15px; background: #dcdcdc; border-top: 1px solid #eee; border-bottom: 1px solid #999; text-decoration: none; color: #000;

}

#menu_recapitulatif li a:hover, #menu_recapitulatif li a.active 
{
background: #6495ed; color: #fff;

}

#menu_recapitulatif li ul 
{
display: none;  list-style-type:none;
}

#menu_recapitulatif li ul li a 
{
padding: 10px 25px; background: #dcdcdc; border-bottom: 1px dotted #ccc;
}

/***********************************DIDIER***************************************/

#dateficheprod
{
	margin-left: 300px;
}

#lienRetour
{
	margin-left: 350px;
}

nav
{
    float: left;
    width: 150px;
    border: 1px grey black;
	vertical-align: top;
}
section
{
    margin-left: 170px;
    
}
.textRech ,.catRech 
{
    display: inline-block;
	position: float;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:5px;
}
.register ,.login
{
    display: inline-block;
	position: float;
	margin-right:0px;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:20px;
}


.barreRech
{
	width: 970px;
	background-color: #DDDDDD;

}

.textRech input
{
   width: 300px;
}
.e_liPr
{
    border : 1px grey solid;
}

.e_liPr_im img
{
	height:120px;
	width:180px; 

	border : 2px green solid;
}

.im_lien img
{
	height:250px;
	width:400px; 
	margin-left: 200px;
	border : 2px green solid;
}

.e_liPr_im 
{
	height:120px;
	width:180px; 
}

.tab_p
{

	width:800px; 
	border-width:1px;
	border-style : solid ;
	border-color: #ff0000;
}

.ink_e_liPr_im
{

}

/** conteurneur de la liste */
#catalogeConteneur,.pagegination
{
	margin-left : 210px;
}

#page
{
margin-left : 10px;
}

#e_liPr_typ
{
	
}


/****  CSS critere vente ****/
.crit_v
{
	float : left;
	width : 200px;
	display: inline-block;
	background-color : #EEEEEE;
}





/* CSS : pour l'affichage des  pages  */
.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;   
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }


