<div id="menu_horizontal"> 
					<!--<p>Designed by LSI 2 ( Les Souris mécaniques )</p>	-->
					
     <table border="0" cellpadding="0" cellspacing="0" id="navigation">
        <tr>
         <!--<td class="navText" align="center" nowrap="nowrap"><a href="accueil_membre.php"><img src="images/my_account.gif"  title="my_account" /></a></td>-->
          
		  <td class="navText" align="center" nowrap="nowrap"><a href="accueil.php"><img src="../images/Accueil.gif"  title="my_account" /></a></td>
          <td class="navText" align="center" nowrap="nowrap"><a href="panier.php"><img src="../images/Panier.gif"  title="PANIER" /></a></td>
          <td class="navText" align="center" nowrap="nowrap"><a href="inscription.php" ><img src="../images/Se_Connecter.gif"  title="sign IN" /></a></td>
		  <td width="620">&nbsp;</td>
		  <td width="625">&nbsp;</td>
		  
		  <td width="50" id="statusoff">*OFFLINE*</td>
        </tr>
        
      </table>

	  </div>
